{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "arrowParens": "always",
  "importOrder": ["^\\w", "^@", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "chains": "none",
  "bracketChain": false,
  "operatorChainBreak": false
}
